<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender для вывода в консоль -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Энкодер, который определяет формат вывода логов -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования и аппендер для корневого логгера -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Пример настройки логирования для определенного пакета или класса -->
    <logger name="com.itmo" level="debug"/>

</configuration>
